body {
  background-color: #b3cccc;
}


h3 {
  margin-top: 36px;
}

h4 {
  margin-top: 24px;
}

h5 {
  margin-top: 24px;
}


.clickable {
  color: #000066;
  cursor: pointer;
}

#quizQuestions {
  margin-top: 36px;
}

#answer {
  display: none;
}
