body {
  background-color: #b3cccc;
}


h3 {
  margin-top: 36px;
}

h4 {
  margin-top: 24px;
}

h5 {
  margin-top: 24px;
}

a {
  color: #000066;
  font-style: italic;
}

strong {
  color: #000066;
}

.clickable {
  color: #000066;
  cursor: pointer;
}

#quizQuestions {
  margin-top: 36px;
}

#answer {
  display: none;
}
#disclaimer {
  font-size: 8pt;
  font-style: italic;
  border: 2px solid darkgray;

}
