body {
  background-color: #b3cccc;
}


h3 {
  margin-top: 36px;
}

h4 {
  margin-top: 24px;
}

h5 {
  margin-top: 24px;
}

a {
  color: #000066;
  font-style: italic;
}

strong {
  color: #000066;
}

.clickable {
  color: black;
  cursor: pointer;
}

.jumbotron {
  background-color: #ccccb3;
  border: 2.5px solid #334d4d;
  border-radius: 5px;
}

.well {
  background-color: #ccccb3;
  border: 2.5px solid #334d4d;
}

.fakeButton {
  padding: 4px;
  background-color: #e0ebeb;
  border: 2.5px solid #334d4d;
  border-radius: 5px;
}

#quizQuestions {
  margin-top: 36px;
}

#answer {
  display: none;
}
#disclaimer {
  font-size: 8pt;
  font-style: italic;
}
